{% extends "main.html" %}
{% load static %}

{% block content %}

	<section class="s2">
		<div class="main-container">

			<h3 style="text-align: center;">My Messages</h3>

			<div id="message-box">
				<table class="table">
					<thead>
					<tr>
						<th id="label"></th>
						<th id="label">Subject</th>
						<th id="label">Read</th>
						<th id="label">Date</th>
					</tr>
					</thead>
					<tbody class="table-striped-columns">
					{% for message in messages %}


						<tr>

							<td id="content"><a class="btn-links" href="{% url "view-message" message.id %}">View</a>
							</td>
							<td id="content">{{ message.subject }}</td>
							<td id="content">{{ message.is_read }}</td>
							<td id="content">{{ message.created }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>

		</div>
	</section>



{% endblock %}
