<!DOCTYPE html>
{% extends "main.html" %}
{% load static %}
<html>
<head>
	<title>Dennis Ivy</title>


	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1"/>


</head>
<body>
{% block content %}

	<section class="s1">
		<div class="main-container">


			<div class="intro-wrapper">

				<div class="greeting-wrapper">
					<h1>Hi, I'm Isuru Manod</h1>
				</div>
				<div class="left-column">
					<img id="profile_pic" src="{% static "images/qq.jpg" %}">
					<h5 style="text-align: center;line-height: 0;">Personalize Theme</h5>

					<div id="theme-options-wrapper">
						<div data-mode="light" id="light-mode" class="theme-dot"></div>
						<div data-mode="blue" id="blue-mode" class="theme-dot"></div>
						<div data-mode="green" id="green-mode" class="theme-dot"></div>
						<div data-mode="purple" id="purple-mode" class="theme-dot"></div>
					</div>

					<p id="settings-note">*Theme settings will be saved for<br>your next vist</p>
				</div>

				<div class="right-column">

					<div id="preview-shadow">
						<div id="preview">
							<div id="corner-tl" class="corner"></div>
							<div id="corner-tr" class="corner"></div>
							<h3>What I Do</h3>
							<p>I was a lead developer in a past life, now I enjoy teaching courses.</p>
							<div id="corner-br" class="corner"></div>
							<div id="corner-bl" class="corner"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>



	{% include "about.html" %}
	{% include "projects.html" %}
	{% include "contact.html" %}
	{% include "footer.html" %}





{% endblock %}
</body>
</html>