<!DOCTYPE html>
{% extends "main.html" %}
{% load static %}


{% block content %}

	<section class="s1">
		<div class="main-container">


			<div class="intro-wrapper">

				<div class="greeting-wrapper">
					<h1>Hi, I'm Isuru Manod</h1>
				</div>
				<div class="left-column">
					<img id="profile_pic" src="{% static "images/qq.jpg" %}">
					<h5 style="text-align: center;line-height: 0;">Personalize Theme</h5>

					<div id="theme-options-wrapper">
						<div data-mode="light" id="light-mode" class="theme-dot"></div>
						<div data-mode="blue" id="blue-mode" class="theme-dot"></div>
						<div data-mode="green" id="green-mode" class="theme-dot"></div>
						<div data-mode="purple" id="purple-mode" class="theme-dot"></div>
					</div>

					<p id="settings-note">*Theme settings will be saved for<br>your next vist</p>
				</div>

				<div class="right-column">

					<div id="preview-shadow">
						<div id="preview">
							<div id="corner-tl" class="corner"></div>
							<div id="corner-tr" class="corner"></div>
							<h3>What I Do</h3>
							<p>I was a lead developer in a past life, now I enjoy teaching courses.</p>
							<div id="corner-br" class="corner"></div>
							<div id="corner-bl" class="corner"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="s2">
		<div class="main-container">

			<div class="about-wrapper">
				<div class="about-me">
					<h4>More about me</h4>

					<p>I build new projects just to tickle my brain and love teaching others how they're made.</p>

					<p>While I keep busy teaching courses, I still take interviews in search of a great team & projects
						that
						interest me.</p>


					<hr>


					<h4>TOP EXPERTISE</h4>

					<p>Fullstack developer with primary focus on Django + React: <a target="_blank" href="resume.pdf">Download
						Resume</a></p>

					<div id="skills">
						<ul>
							{% for skill in skills %}
								<div class="skills-img-container">
									<img class="skills-img" src="{% static "images/logo.png" %}"/>
									<li class="skill-name">{{ skill.title }}</li>
								</div>
							{% endfor %}


						</ul>

					</div>

				</div>


			</div>

		</div>
	</section>
<a href="#" class="fa fa-facebook"></a>

	<section class="s1">
		<div class="main-container">
			<h3 style="text-align: center;">Some of my past projects</h3>

			<div class="post-wrapper">
				{% for project in projects %}
					<div>
						<div class="post">
							<img class="thumbnail" src="{{ project.imageURL }}">
							<div class="post-preview">
								<h6 class="post-title">{{ project.title }}</h6>
{#								<p class="post-intro">{{ project.body }}</p>#}
								<a class="btn-more" href="{% url "project-page" project.id %}">Read More</a>


								<a href="{{ project.github_link }}"><i class="fa fa-github" style="font-size:20px"> Github</i></a>

							</div>
						</div>
					</div>
				{% endfor %}

			</div>
		</div>
	</section>

	<section class="s2">
		<div class="main-container">
			<a href=""></a>
			<h3 style="text-align: center;">Get In Touch</h3>

			<form id="form">
				<a name="contact"></a>

				<label>Name</label>
				<input class="input-field" type="text" name="name">

				<label>Subject</label>
				<input class="input-field" type="text" name="subject">

				<label>Email</label>
				<input class="input-field" type="text" name="email">

				<label>Message</label>
				<textarea class="input-field" name="message"></textarea>

				<input id="submit-btn" type="submit" value="Send">
			</form>
		</div>
	</section>





{% endblock %}
