<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Dennis Ivy</title>


	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1"/>


</head>
<body>
{% block content %}

	<div class="nav-wrapper">

		<!-- Link around dots-wrapper added after tutorial video -->
		<a href="index.html">
			<div class="dots-wrapper">
				<div id="dot-1" class="browser-dot"></div>
				<div id="dot-2" class="browser-dot"></div>
				<div id="dot-3" class="browser-dot"></div>
			</div>
		</a>


		<ul id="navigation">
			<li><a href="{% url "home" %}">Home</a></li>
			<li><a href="{% url "about" %}">About</a></li>
			<li><a href="{% url "projects" %}">Projects</a></li>
			<li><a href="{% url "contacts" %}">Contact</a></li>
			<li><a href="{% url "messages" %}">Inbox</a></li>
			<img id="social-logo" src="{% static "images/4202098_github_code_developer_logo_icon.png" %}" href="">
			<img id="social-logo" src="{% static "images/317750_linkedin_icon.png" %}" href="">
			<img id="social-logo" src="{% static "images/5296514_bird_tweet_twitter_twitter logo_icon.png" %}" href="">


		</ul>
	</div>




{% endblock %}
</body>
</html>