{% extends "main.html" %}

{% load static %}

{% block content %}
	<section class="s1">

		<div class="main-container">

			<a href="{% url "create-project" %}" style="text-align: center;">Create a New Project</a>
		</div>

	</section>
	<section class="s1">
		<div class="main-container">
			<h3 style="text-align: center;">Some of my past projects</h3>
			<div class="post-wrapper">
				{% for project in projects %}
					<div>
						<div class="post">
							<img class="thumbnail" src="{{ project.imageURL }}">
							<div class="post-preview">
								<h6 class="post-title">{{ project.title }}</h6>
{#								<p class="post-intro">{{ project.body }}</p>#}
								<a href="{% url "project-page" project.id %}">Read More</a>
								{#								<a href="" class="btn">discover more</a>#}
								<a><i class="fa fa-github" style="font-size:20px"> Github</i></a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}

</div></section>